@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Colors */
  --primaryColor: #007bff; /* Example: Blue */
  --primaryLight: #e1f0ff;
  --primaryDark: #0056b3;

  /* Secondary Colors */
  --secondaryColor: #6c757d; /* Example: Gray */
  --secondaryLight: #f8f9fa;
  --secondaryDark: #495057;

  /* Text Colors */
  --textColor: #333;
  --textLight: #666;
  --textInverse: #fff;

  /* Background Colors */
  --backgroundColor: #f4f4f4;
  --backgroundLight: #fff;
  --backgroundDark: #e0e0e0;

  /* Border Colors */
  --borderColor: #ddd;

  /* Notification Colors */
  --warnBorderColor: #ffc107;
  --warnBg: rgba(255, 193, 7, 0.2);
  --warnTextColor: #856404;

  --infoBorderColor: #17a2b8;
  --infoBg: rgba(23, 162, 184, 0.2);
  --infoTextColor: #0c5460;

  --goodToKnowBorderColor: #28a745;
  --goodToKnowBg: rgba(40, 167, 69, 0.2);
  --goodToKnowTextColor: #155724;

  --alsoKnowBorderColor: #6f42c1;
  --alsoKnowBg: rgba(111, 66, 193, 0.2);
  --alsoKnowTextColor: #492882;

  --avoidBorderColor: #dc3545;
  --avoidBg: rgba(220, 53, 69, 0.2);
  --avoidTextColor: #721c24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply text-black bg-white dark:text-white dark:bg-black;
}
.nextra-search {
  display: none !important;
}

.normal-btn {
  @apply text-white bg-black dark:text-black dark:bg-white;
}

.normal-heading {
  @apply font-bold text-2xl sm:text-4xl;
}

/* Warn */
.warn {
  color: var(--warnTextColor);
  background-color: var(--warnBg);
  border: 2px solid var(--warnBorderColor);
}

/* Info */
.info {
  color: var(--infoTextColor);
  background-color: var(--infoBg);
  border: 2px solid var(--infoBorderColor);
}

/* Good to Know */
.good-to-know {
  color: var(--goodToKnowTextColor);
  background-color: var(--goodToKnowBg);
  border: 2px solid var(--goodToKnowBorderColor);
}

/* Also Know */
.also-know {
  color: var(--alsoKnowTextColor);
  background-color: var(--alsoKnowBg);
  border: 2px solid var(--alsoKnowBorderColor);
}

/* Don't */
.avoid {
  color: var(--avoidTextColor);
  background-color: var(--avoidBg);
  border: 2px solid var(--avoidBorderColor);
}
